@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button {
  display: none;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
  display: none;
}


.FaAws {
  display: none;
}
@media (min-width: 768px) {
  .FaAws {
    display: inline-block;
  }
}


.arrow-home {
  display: none;
}

@media (min-width: 768px) {
  .arrow-home {
    display: inline-block;
  }
}

/* Default size (for tablets and larger) */
.hero-canvas {
  width: 100%;
  height: 100%;
  /* Fill parent container */
  min-height:900px;
  /* Fallback for mobile */
  max-height: 900px;
  /* Limit maximum size */
}

/* Mobile scaling */
@media (max-width: 767px) {
  .hero-canvas {
    min-height: 600px;
    /* Smaller on mobile */
    max-height: 600px;
  }
}